torch==1.8.1
torchvision==0.9.1 #--find-links https://example.com/path/to/your/wheel/torchvision-0.9.1+cpu-cp37-cp37m-win_amd64.whl
#torchvision==0.9.2
#pycuda
tensorboard
pyyaml
tqdm
matplotlib
scipy
clean-fid
pandas